<div class="language-switch" role="group" aria-label="Idioma">
  <button class="lang-btn" id="lang-pt" type="button" onclick="setLang('pt')" aria-label="Português" data-tip="langPt"><img class="lang-bandeira lang-bandeira-invertida" src="/static/img/bandeira-brasil.svg" alt="" width="20" height="14"><span>PT</span></button>
  <button class="lang-btn" id="lang-en" type="button" onclick="setLang('en')" aria-label="English" data-tip="langEn"><img class="lang-bandeira" src="/static/img/bandeira-reino-unido.svg" alt="" width="20" height="14"><span>EN</span></button>
</div>
